.header{
    
    height: 130px;
    background-image: linear-gradient(0,#fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    

}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 15px 0 0 0;
    
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__notify{
    z-index: 2;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
   /* color: var(--white-color);*/
    color : white;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-block;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor:pointer;
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--strong{
    fonr-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color:#FB9086;
    right: -10px;
    top: 10%;
    transform: translateY(-50);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 18px;
    margin : 0 4px;
    
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/*QR code*/
.header__qr{
    background-color: white;
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius:2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 3;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -17px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    
    

}

.header__qr-img{
    width : 100%;
    
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    
    
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-left: 11px;
}


.header__qr-dowload-img{
    height: 18px;
    
}

.header__notify{
   position: absolute;
   top: 100%;
   right: 0;
   width: 404px;
   border: 1px solid #D3D3D3;
   background-color:white;
   cursor: default;
   transform-origin: calc(100% - 20px) top;
   animation: headerNotifyGrowth ease-in 0.2s;
   will-change: opacity, transform;
   display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 2px;
    top: -26px;

}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 20px;
    background-color: white;
}

@keyframes headerNotifyGrowth{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
   height: 40px;
   background-color: white;
   z-index: 2;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
} 

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
   display: flex;
} 

.header__notify-item:hover{
    background-color:#F7F7F7;
}

.header__notify-item--viewed{
     background-color: rgba(238,75,43,0.08);
} 

.header__notify-link{
    width: 100%;
     display: flex;
     padding: 12px;
     text-decoration: none; 
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px; 
} 

.header__notify-name{
    display: block;
    font-size: 1.7rem;
    color: rgb(40, 39, 39);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
   
}
.header__notify-footer-btn{
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

/* authen modal */
.auth-form{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding : 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color : var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color : #EE4D2D;
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
    
}

.auth-form__input{
    width : 100%;
    height : 40px;
    margin-top : 16px;
    padding : 0 12px;
    font-size: 1.4rem;
    border : 1px solid #dbdbdb;
    border-radius : 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top : 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color : #EE4D2D;
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;

}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3A5A98 ;
    color: white;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: white;
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--google{
    background-color: white;
    color : #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;   
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color : #939393;
}

.auth-form__help__separate{
    display: block;
    border-left: 1px solid #dbdbdb;
    height: 15px;
    margin: 0 16px ;
}

.auth-form__help-forgot{
    color : #EE4D2D;

}

.header-with-search{
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px ;
    margin-left: 8px;
    

}

.header__logo{
    width : 150px;
}

.header__logo-img{
    width: 150px;
    color: white;
}

.header__search{
   z-index: 1 !important;
    background-color: white;
    height: 40px;
    margin:  0 15px 0 80px;
    border-radius:2px;
    display: flex;
    align-items: center;
    width: 70%;
}

.header__cart{
    width: 150px;
    text-align: center;
    position: relative;
    cursor: pointer;
    
}

.hearder__cart-wrap{
    position: relative;
}

.header__cart:hover .header__cart-list{
    display: block;
}


.header__cart-icon{
    color: white;
    font-size: 2.4rem;
    margin-top: 18px;
}

.header__cart-list{
    position: absolute;
    top: 100%;
    right: 40px;
    width: 300px;
    height: 150px;
    margin-top:8px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 5px;
    margin-top:5px;
    top: -30px;
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent white transparent;
}

.header__cart-list--no-cart{
    padding: 29px 0px;
}

.header__cart-no-cart-img{
    width: 60%;
}

.header__cart-list-no-cart-msg{
    display:block;
    font-size: 1.4rem;
    color: #0a0a0a;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    color: #333;
    border-radius:2px;
    z-index: 0;
}

.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}

.header__search-select-label{
    font-size: 1.4rem;
    color: #333;
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #615a5a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;

}

.header__search-btn{
    background-color: #EE4D2D;
    border:  none;
    height: 30px;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
    width: 60px;
}

.header__search-btn:hover{
    background-color: #f57056;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: white;
   
}

.header__search-select:hover 
.header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;   
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after{  /*lớp giả */
    content : "";
    display: block;
    width: 100%;
    height: 20px; 
    top: -15px;
    left: 0;
    position: absolute;


}

.header__search-option-item{
    background-color: white;
    padding: 8px 8px;  
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #ebe5e5;
    cursor: pointer;

}

.header__search-option-item span{
    font-size: 1.4rem;
    text-color: #333;
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: #EE4D2D;
    margin-left: 12px;
    display: none;
}


.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history { /* khi click vào ô tìm kiếm thì lịch sử tìm kiếm sẽ hiện*/
    display: block;

}

/* Search history */
.header__search-history{
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 2px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px #666;
    display: none;
    overflow: hidden;
    margin-top: 5px;
    
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;

}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
   
}

.header__search-history-item:hover{
    background-color:rgb(252, 246, 246);
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    line-height: 38px;
    display: block;

}


